.app {
  max-width: 990px;
  margin: 0 auto;
  padding: 90px 0;
}

@media screen and (max-width: 1007px) {
  .app {
    max-width: 720px;
    padding: 70px 0;

  }
}

@media screen and (max-width: 768px) {
  .app {
      max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .app {
      max-width: 100%;
      padding: 50px 10px;
  }
  
}